favorites=google-chrome.desktop
button-icon=/usr/share/nextdesk/nextdesk-mark-mono.svg
show-button-title=false
show-button-icon=true
view-as-icons=true
launcher-show-name=true
launcher-show-description=false
