# NextDesk OS installer medium: isolinux (BIOS) colours over the NextDesk splash (logo at the top)
menu background splash.png
menu color title	* #FFFFFFFF *
menu color border	* #00000000 #00000000 none
menu color unsel	* #ffa9b8c6 #00000000 none
menu color sel		* #ffffffff #380ba5e0 none
menu color hotkey	* #ffa9b8c6 #00000000 none
menu color hotsel	* #ffffffff #380ba5e0 none
menu color tabmsg	* #ff7e93a8 #00000000 none
menu color timeout_msg	* #ff7e93a8 #00000000 none
menu color timeout	* #ffffffff #00000000 none
menu color help		* #ff7e93a8 #00000000 none
menu vshift 14
menu rows 5
menu margin 2
menu helpmsgrow 20
menu cmdlinerow 26
menu timeoutrow 22
menu tabmsgrow 24
menu tabmsg Enter: start  -  Tab: edit
menu autoboot Starting in # s
